<section id="sobre-nosotros">
    <h2>Sobre Nosotros</h2>
    <p>En Cafeteria Ca'n Bep, en el corazón de Mercadal, nos encanta ofrecer a nuestros clientes una experiencia sencilla y auténtica. Aquí, podrás disfrutar de desayunos, comidas y cenas elaboradas con ingredientes frescos y de calidad, en un ambiente acogedor y cercano.</p>
    <p>Nuestra carta está pensada para todos, con platos caseros, bocadillos, tapas y menús que siempre buscan satisfacer tus ganas de comer bien a buen precio. Ya sea para un café por la mañana o para compartir una cena con amigos, estamos aquí para ofrecerte un trato cercano y amable en todo momento.</p>
    <p>Nos gusta que cada visita sea una experiencia agradable y que nuestros clientes se sientan como en casa. Si buscas un lugar donde disfrutar de buena comida y pasar un buen rato, Cafeteria Ca'n Bep es el sitio perfecto. ¡Te esperamos con los brazos abiertos!</p>
</section>

<style>
    section {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 200px;
    }

    section h2 {
        font-size: 2.5rem;
    }

    section h2::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
    }
</style>