<section id="contacto">
    <h2>Contacto</h2>
    <div class="contacto-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97820.33993448094!2d3.940245597265612!3d39.9886613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be218a5525888d%3A0xeaa98adb9d861be!2sCafeteria%20Ca&#39;n%20Bep!5e0!3m2!1ses!2ses!4v1743261024969!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="contacto-info">
            <span>
                <svg height="64" width="64" xmlns="http://www.w3.org/2000/svg" viewBox="-297 -297 891 891" xml:space="preserve" stroke="#000" stroke-width=".003"><path d="M148.5 0C87.43 0 37.747 49.703 37.747 110.797c0 91.026 99.729 179.905 103.976 183.645a10.232 10.232 0 0 0 6.777 2.559c2.421 0 4.841-.853 6.778-2.559 4.245-3.739 103.975-92.618 103.975-183.645C259.253 49.703 209.57 0 148.5 0zm0 272.689c-22.049-21.366-90.243-93.029-90.243-161.892 0-49.784 40.483-90.287 90.243-90.287s90.243 40.503 90.243 90.287c0 68.862-68.194 140.525-90.243 161.892z"/><path d="M148.5 59.183c-28.273 0-51.274 23.154-51.274 51.614 0 28.461 23.001 51.614 51.274 51.614s51.274-23.153 51.274-51.614c0-28.46-23.001-51.614-51.274-51.614zm0 82.718c-16.964 0-30.765-13.953-30.765-31.104 0-17.15 13.801-31.104 30.765-31.104s30.765 13.953 30.765 31.104-13.801 31.104-30.765 31.104z"/></svg>
                <p><a href="https://maps.app.goo.gl/zd5a5T3XnReQS2Fd6">Plaza Constitució, 2, 07740 Mercadal, Menorca España</a></p>
            </span>
            <p>Horario: 06:00 - 23:45</p>
            <p class="tel">+34 971 37 50 49</p>
        </div>
    </div>
</section>

<style>
    section {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 200px;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        margin-bottom: 100px;
    }

    h2::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
    }

    .contacto-container {
        display: flex;
        gap: 50px;
    }

    iframe {
        width: 80%;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .contacto-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto-info span {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 1.5rem;
        margin-bottom: -30px;
    }

    .contacto-info span svg {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-right: -20px;
    }

    .contacto-info p {
        font-size: 1.5rem;
    }

    .contacto-info p a {
        text-decoration: none;
        color: #000;
    }

    .contacto-info .tel {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 10px 30px;
        border: 2px solid #000a;
        width: fit-content;
        border-radius: 5px;
    }

    @media screen and (max-width: 1250px) {
        section {
            margin-top: 200px;
        }
    }

    @media screen and (max-width: 900px) {
        .contacto-container {
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .contacto-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    
</style>