<section id="galeria">
    <h2>Nuestra Galería</h2>
    <div class="galery-container">
        <img src="/galeria-1.webp" alt="galery" class="galery-image">
        <img src="/galeria-2.webp" alt="galery" class="galery-image">
        <img src="/galeria-2.webp" alt="galery" class="galery-image">
        <img src="/galeria-1.webp" alt="galery" class="galery-image">
        <img src="/galeria-3.webp" alt="galery" class="galery-image">
        <img src="/galeria-2.webp" alt="galery" class="galery-image">
        <img src="/galeria-3.webp" alt="galery" class="galery-image">
        <img src="/galeria-3.webp" alt="galery" class="galery-image">
        <img src="/galeria-1.webp" alt="galery" class="galery-image">
    </div>
</section>


<style>
    section {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 200px;
        position: relative;
    }

    section h2 {
        font-size: 2.5rem;
        width: 100%;
    }

    .galery-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
    }

    .galery-image {
        width: 32%;
    }

    @media (max-width: 1000px) {
        .galery-image {
            width: 45%; /* Con un ancho de pantalla más pequeño, usamos dos columnas */
        }
    }

    @media (max-width: 700px) {
        .galery-image {
            width: 100%; /* Con pantallas más pequeñas, mostramos una sola columna */
        }
    }

    @media screen and (max-width: 700px) {
        .galery-container {
            width: 100%;
            flex-direction: column;
            margin-left: 0;
        }

        .galery-wrapper {
            flex-direction: column;
        }
    }
</style>