<section id="menu">
    <img src="/menu.webp" alt="menu" class="menu-image">
    <h2>Nuestro Menú</h2>
    <div class="menu-container">
        <span class="arrows">
            <svg class="arrows-left" width="12" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 3.5 4.5 11l7.5 7.5-1.5 3L0 11 10.5.5l1.5 3Z" fill="#000"/></svg>
            <svg class="arrows-right" width="12" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 3.5 4.5 11l7.5 7.5-1.5 3L0 11 10.5.5l1.5 3Z" fill="#000"/></svg>
        </span>
        <div class="menu">
            <h3>Platos Principales</h3>
            <ul>
                <li>
                    <h4>Solomillo a la pimienta</h4>
                    <p>Solomillo de ternera con salsa de pimienta negra y guarnición de papas al horno.</p>
                    <span>22€</span>
                </li>
                <li>
                    <h4>Paella de mariscos</h4>
                    <p>Arroz con mariscos frescos, sazonado con especias tradicionales.</p>
                    <span>18€</span>
                </li>
                <li>
                    <h4>Lasaña de carne</h4>
                    <p>Capas de pasta con carne de res, salsa de tomate y bechamel gratinada.</p>
                    <span>16€</span>
                </li>
                <li>
                    <h4>Pechuga de pollo a la mostaza</h4>
                    <p>Pechuga de pollo a la plancha con salsa de mostaza y miel, acompañada de verduras salteadas.</p>
                    <span>15€</span>
                </li>
                <li>
                    <h4>Bacalao a la vizcaína</h4>
                    <p>Bacalao cocinado con salsa de tomate, pimientos y aceitunas.</p>
                    <span>19€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Entrantes</h3>
            <ul>
                <li>
                    <h4>Ensalada César</h4>
                    <p>Lechuga fresca, pollo a la parrilla, crutones y aderezo César.</p>
                    <span>10€</span>
                </li>
                <li>
                    <h4>Jamón ibérico con pan tumaca</h4>
                    <p>Jamón ibérico de bellota acompañado de pan con tomate y aceite de oliva.</p>
                    <span>14€</span>
                </li>
                <li>
                    <h4>Gazpacho andaluz</h4>
                    <p>Sopa fría de tomate, pimiento, pepino y ajo, servida con tropezones.</p>
                    <span>8€</span>
                </li>
                <li>
                    <h4>Queso manchego con membrillo</h4>
                    <p>Porciones de queso manchego acompañadas de dulce de membrillo.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Calamares a la romana</h4>
                    <p>Aros de calamar rebozados y fritos, servidos con alioli.</p>
                    <span>11€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Tapas</h3>
            <ul>
                <li>
                    <h4>Patatas bravas</h4>
                    <p>Papas crujientes con salsa brava y alioli.</p>
                    <span>7€</span>
                </li>
                <li>
                    <h4>Gambas al ajillo</h4>
                    <p>Gambas salteadas con ajo, guindilla y aceite de oliva.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Chorizo a la sidra</h4>
                    <p>Chorizo cocinado en sidra natural.</p>
                    <span>9€</span>
                </li>
                <li>
                    <h4>Huevos rotos con jamón</h4>
                    <p>Papas fritas con huevos estrellados y jamón ibérico.</p>
                    <span>13€</span>
                </li>
                <li>
                    <h4>Pimientos del padrón</h4>
                    <p>Pimientos fritos con un toque de sal gruesa.</p>
                    <span>6€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Pizzas</h3>
            <ul>
                <li>
                    <h4>Pizza Margarita</h4>
                    <p>Tomate, mozzarella y albahaca fresca.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Pizza Prosciutto</h4>
                    <p>Tomate, mozzarella, jamón y champiñones.</p>
                    <span>14€</span>
                </li>
                <li>
                    <h4>Pizza Cuatro Quesos</h4>
                    <p>Mezcla de mozzarella, gorgonzola, parmesano y queso de cabra.</p>
                    <span>15€</span>
                </li>
                <li>
                    <h4>Pizza Vegetariana</h4>
                    <p>Tomate, mozzarella, pimientos, champiñones y aceitunas.</p>
                    <span>13€</span>
                </li>
                <li>
                    <h4>Pizza Barbacoa</h4>
                    <p>Tomate, mozzarella, carne de res, cebolla y salsa barbacoa.</p>
                    <span>16€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Postres</h3>
            <ul>
                <li>
                    <h4>Tiramisú</h4>
                    <p>Clásico postre italiano con café, mascarpone y cacao.</p>
                    <span>6€</span>
                </li>
                <li>
                    <h4>Flan de caramelo</h4>
                    <p>Flan casero con caramelo líquido.</p>
                    <span>5€</span>
                </li>
                <li>
                    <h4>Crema catalana</h4>
                    <p>Postre cremoso con costra de azúcar caramelizada.</p>
                    <span>7€</span>
                </li>
                <li>
                    <h4>Brownie con helado</h4>
                    <p>Brownie de chocolate con bola de helado de vainilla.</p>
                    <span>8€</span>
                </li>
                <li>
                    <h4>Cheesecake de frutos rojos</h4>
                    <p>Tarta de queso con salsa de frutos rojos.</p>
                    <span>7€</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const menus: NodeListOf<HTMLElement> = document.querySelectorAll(".menu");
    const leftArrow: HTMLElement | null = document.querySelector(".arrows-left");
    const rightArrow: HTMLElement | null = document.querySelector(".arrows-right");
    let currentIndex: number = 0;

    function showMenu(index: number): void {
        menus.forEach((menu, i) => {
            menu.style.display = i === index ? "block" : "none";
        });
    }

    leftArrow?.addEventListener("click", () => {
        currentIndex = (currentIndex - 1 + menus.length) % menus.length;
        showMenu(currentIndex);
    });

    rightArrow?.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % menus.length;
        showMenu(currentIndex);
    });

    showMenu(currentIndex);
});
</script>

<style>
    section {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 200px;
        position: relative;
    }

    section img {
        position: absolute;
        right: 0;
        margin-top: 100px;
        width: 60%;
    }

    section h2 {
        font-size: 2.5rem;
        width: 50px;
    }

    .menu-container {
        display: flex;
        gap: 60px;
    }

    .menu-container span {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .arrows-right {
        transform: rotate(180deg);
    }

    svg {
        cursor: pointer;
    }

    .menu {
        background-color: #f1f1f1;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        padding: 30px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        width: 700px;
        position: relative;
        max-width: 100%;
        padding-inline: 0;
        padding-bottom: 50px;
    }

    .menu h3 {
        padding-left: 40px;
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0;
    }

    .menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .menu li {
        width: 100%;
        position: relative;
    }

    .menu li h4 {
        margin-bottom: 0;
        max-width: 65%;
    }

    .menu li p {
        margin-top: 10px;
        max-width: 65%;
    }

    .menu li span {
        position: absolute;
        right: 90px;
        top: 15px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    @media screen and (max-width: 1100px) {
        section img {
            display: none;
        }

        section h2 {
            width: 100%;
        }
    }

    @media screen and (max-width: 815px) {
        .menu-container {
            flex-direction: column;
            gap: 40px;
        }

        .menu-container .arrows {
            flex-direction: row;
        }

        .menu {
            width: 100vw;
            padding: 0px;
            padding-bottom: 50px;
            padding-top: 20px;
        }

        .menu h3 {
            padding-left: 30px;
            margin-bottom: -10px;
        }

        .menu ul {
            padding-inline: 30px;
        }

        .menu li {
            width: 100%;
        }

        .menu li span {
            position: relative;
            left: 0;
            top: 0;
        }

        .menu li h4 {
            max-width: 80%;
        }

        .menu li p {
            max-width: 80%;
        }
    }

</style>