<section id="menu">
    <img src="/menu.webp" alt="menu" class="menu-image">
    <h2>Nuesto Menú</h2>
    <div class="menu-container">
        <span class="arrows">
            <svg class="arrows-left" width="12" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 3.5 4.5 11l7.5 7.5-1.5 3L0 11 10.5.5l1.5 3Z" fill="#000"/></svg>
            <svg class="arrows-right" width="12" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 3.5 4.5 11l7.5 7.5-1.5 3L0 11 10.5.5l1.5 3Z" fill="#000"/></svg>
        </span>
        <div class="menu">
            <h3>Platos Principales</h3>
            <ul>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>15€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>35€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>19€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>14€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>11€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Entrantes</h3>
            <ul>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>15€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>35€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>19€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>14€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>11€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Tapas</h3>
            <ul>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>15€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>35€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>19€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>14€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>11€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Pizzas</h3>
            <ul>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>15€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>35€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>19€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>14€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>11€</span>
                </li>
            </ul>
        </div>
        <div class="menu" style="display:none">
            <h3>Postres</h3>
            <ul>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>15€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>35€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>19€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>12€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>14€</span>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>11€</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const menus: NodeListOf<HTMLElement> = document.querySelectorAll(".menu");
    const leftArrow: HTMLElement | null = document.querySelector(".arrows-left");
    const rightArrow: HTMLElement | null = document.querySelector(".arrows-right");
    let currentIndex: number = 0;

    function showMenu(index: number): void {
        menus.forEach((menu, i) => {
            menu.style.display = i === index ? "block" : "none";
        });
    }

    leftArrow?.addEventListener("click", () => {
        currentIndex = (currentIndex - 1 + menus.length) % menus.length;
        showMenu(currentIndex);
    });

    rightArrow?.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % menus.length;
        showMenu(currentIndex);
    });

    showMenu(currentIndex);
});
</script>

<style>
    section {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 200px;
    }

    section img {
        position: absolute;
        right: 0;
        margin-top: 100px;
        width: 60%;
    }

    section h2 {
        font-size: 2.5rem;
        width: 50px;
    }

    .menu-container {
        display: flex;
        gap: 60px;
    }

    .menu-container span {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .arrows-right {
        transform: rotate(180deg);
    }

    svg {
        cursor: pointer;
    }

    .menu {
        background-color: #B5986D;
        padding: 30px;
        border-radius: 15px;
        width: 700px;
        position: relative;
        padding-bottom: 60px;
        max-width: 100%;
    }

    .menu h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    .menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .menu li {
        width: 100%;
        position: relative;
    }

    .menu li h4 {
        margin-bottom: 0;
        max-width: 65%;
    }

    .menu li p {
        margin-top: 10px;
        max-width: 65%;
    }

    .menu li span {
        position: absolute;
        right: 90px;
        top: 15px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    @media screen and (max-width: 1100px) {
        section img {
            display: none;
        }

        section h2 {
            width: 100%;
        }
    }

    @media screen and (max-width: 815px) {
        .menu-container {
            flex-direction: column;
            gap: 40px;
        }

        .menu-container .arrows {
            flex-direction: row;
        }

        .menu {
            width: 100vw;
            padding: 0px;
        }

        .menu li {
            width: 100%;
        }

        .menu li span {
            position: relative;
            left: 0;
            top: 0;
        }

        .menu li h4 {
            max-width: 80%;
        }

        .menu li p {
            max-width: 80%;
        }
    }

</style>